/*background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #540B51;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

.nav-pc {
  padding: 5%;
}


nav div {
  display: flex;
}

.nav-list li {
  list-style: none;
  margin: 0 10px;
  display: none;
}

.nav-list {
  display: flex;
}

.search-icon,
.navicon {
  border: none;
  background: none;
  margin: 0 20px 0 10px;
}

.header-one {
  padding: 5%;

}

header h1 {
  font-size: 5em;
  font-weight: 50;
  text-align: center;
}

.header-one p {
  font-size: 2em;
  text-align: center;
}

.span-header {
  font-weight: bold;
  color: #ECB12F;
}

.buttons-header {
  display: block;

}

.buttons-header button {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5em;
  border-radius: 10px;
  text-decoration-line: none;
  font-weight: 80;
}

.sign-button {
  padding: 5% 20%;
}

.buttons-header button a {
  text-decoration: none;
  font-weight: 700;
}

.sign-button a {
  color: #540B51;
}

.sign-google {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285F4;
  padding: 5% 35%;
}

.sign-google a {
  color: #ffffff;
}

.sign-google img {
  padding: 5%;
  border-radius: 10px;
  background-color: #F3EAE2;
  margin-right: 300px;
}

.screenshot {
  width: 150%;
  display: flex;
  justify-content: right;
  top: 0px;
  left: 0px;
  overflow: visible;
}

.section-one {
  margin: 0;
  background-color: #F3EAE2;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 900;
  text-align: center;
  padding-top: 40px;
}

.img-container {
  padding: 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
}

.img-container img {
  width: auto;
  height: 50px;
  margin: 15px;
}

.section-two {
  background-color: #ffffff;
  text-align: center;
  padding: 5%;
  color: #000000;
}

.section-two h3 {
  color: #540B51;
  font-size: 4em;
  font-weight: bold;
}

.section-two p {
  font-size: 3em;
  font-weight: bold;
}


@media screen and (min-width:768px) {
  header {
    background-image: url(./../images/background-singup.png);
    background-size: cover;
  }
}